<br>
<br>
<div class="container">
  <div class="well">
    <h2>Edit Stamp</h2>

    <%= form_for ([current_user, @stamp]) do |f| %>
    <% if @stamp.errors.any? %>
    <% @stamp.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger"><%= msg %></div>
    <% end %>
    <% end %>
    <div class="form-group">
      <%= f.label :country %>
      <%= f.select :country_id, Country.all.collect {|x| [x.name, x.id]}, {:include_blank => 'Select One'},class:'form-control' %><br>
    </div>

    <div class="form-group">
      <%= f.label :currency %>
      <%= f.select :currency_id, Currency.all.collect {|x| [x.name, x.id]}, {:include_blank => 'Select One'},class:'form-control' %><br>
    </div>

    <div class="form-group">
      <%= f.label :condition %>
      <%= f.select :condition_id, Condition.all.collect {|x| [x.name, x.id]}, {:include_blank => 'Select One'},class:'form-control' %><br>
    </div>

    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, class:'form-control' %><br>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class:'form-control' %><br>
    </div>

    <div class="form-group">
      <%= f.label :subtitle %>
      <%= f.text_field :subtitle, class:'form-control' %><br>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.text_field :image, class:'form-control' %><br>
    </div>

    <div class="form-group">
      <%= f.label :year %>
      <%= f.number_field :year, class:'form-control' %><br>
    </div>

    <div class="form-group">
      <%= f.label :face_value %>
      <%= f.number_field :face_value, class:'form-control', :step => 'any' %><br>
    </div>

    <%= f.submit "Submit", class: 'btn btn-primary' %>
    <%= link_to "Cancel", "/", class: "btn btn-default" %>

    <% end %>
  </div>
</div>