<br>
<br>
<div class="container">
  <div class="well">
    <p><strong>Image</strong>: <%= @stamp.image %></p><br>
    <p><strong>Country</strong>: <%= @stamp.country_id %></p><br>
    <p><strong>Currency</strong>: <%= @stamp.currency_id %></p><br>
    <p><strong>Condition</strong>: <%= @stamp.condition_id %></p><br>
    <p><strong>Face Value</strong>: <%= @stamp.face_value %></p><br>
    <p><strong>Subject</strong>: <%= @stamp.subject %></p><br>
    <p><strong>Title</strong>: <%= @stamp.title %></p><br>
    <p><strong>Subtitle</strong>: <%= @stamp.subtitle %></p><br>
    <p><strong>Year</strong>: <%= @stamp.year %></p><br>
  </div>
</div>

