<div class="well">
    <div class="container">
        <div class="col-sm-4">
            <%= image_tag @stamp.image.url(:medium) %>
        </div>
        <div class="col-sm-4">
            <p><strong>Country</strong>: <%= Country.find_by(id: @stamp.country_id).name %></p><br>
            <p><strong>Currency</strong>: <%= Currency.find_by(id: @stamp.currency_id).name %></p><br>
            <p><strong>Condition</strong>: <%= Condition.find_by(id: @stamp.condition_id).name %></p><br>
            <p><strong>Face Value</strong>: <%= @stamp.face_value %></p><br>
        </div>
        <div class="col-sm-4">
            <p><strong>Subject</strong>: <%= @stamp.subject %></p><br>
            <p><strong>Title</strong>: <%= @stamp.title %></p><br>
            <p><strong>Subtitle</strong>: <%= @stamp.subtitle %></p><br>
            <p><strong>Year</strong>: <%= @stamp.year %></p><br>
        </div>
        <div class="col-sm-4">
            <%= link_to "Edit", "/users/#{current_user.id}/stamps/#{@stamp.id}/edit", class:'btn btn-default' %>
            <%= link_to "Delete", "/users/#{current_user.id}/stamps/#{@stamp.id}", :method => :delete, class:'btn btn-danger' %>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p><strong>Comments</strong></p>
                <% @stamp.comments.each do |comment| %>
                <p><%= comment.body %>  <%= link_to "Delete", "/users/#{current_user.id}/stamps/#{@stamp.id}/comments/#{comment.id}", :method => :delete %></p>
                <% end %>
            </div>
            <div class="col-sm-4">
                <%= form_for @comment, :url => "/users/#{current_user.id}/stamps/#{@stamp.id}/comments", :html => { :method => :post } do |f| %>
                <div class="field">
                    <%= f.label :Comment %><br />
                    <%= f.hidden_field :stamp_id, :value => @stamp.id %>
                    <%= f.text_area :body, class:'form-control' %>
                    <br>
                    <%= f.submit 'Add comment', :class => 'btn btn-success'%>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

